<div id="current">
    <h1>{{weather.conditions.date_retreived | date:'EEEE'}}</h1>
    <div id="current-condition">
        <i class="wi wi-wu-{{weather.conditions.icon}}"></i>
        {{weather.conditions.condition}}
    </div>
    <div id="current-temp">
        <h2>
            {{weather.conditions.fahrenheit.temp}}&deg;
        </h2>
        <p>
            {{weather.conditions.low.fahrenheit}}&deg; : <strong>{{weather.conditions.high.fahrenheit}}&deg;</strong>
        </p>
    </div>
</div>

<ul>
    <li ng-repeat="forecast in weather.forecast.day_forecast">
        <h1>
            {{forecast.date.day_name}}
        </h1>
        <p>
            <span id="forecast-condition">{{forecast.condition}}</span> <span id="forecast-high-low">{{forecast.low.fahrenheit}}&deg;
            : <strong>{{forecast.high.fahrenheit}}&deg;</strong></span>
            <!--{{forecast.wind.average.mph}} mph-->
        </p>
    </li>
</ul>
