<div class="current">
  <h1>{{weather.conditions.date_retreived}}</h1>
  <p>
    {{weather.conditions.condition}}
  </p>
  <p>
    {{weather.conditions.temp}}
  </p>
</div>
<ul>
    <li ng-repeat="forecast in weather.forecast.day_forecast">
        <h1>
            {{forecast.date.day_name}}
        </h1>
        <p>
            {{forecast.condition}}
        </p>
        <p>
            Low: {{forecast.low.fahrenheit}}&deg; High: {{forecast.high.fahrenheit}}&deg; <!--{{forecast.wind.average.mph}} mph-->
        </p>
    </li>
</ul>
