<div id="current">
    <h1>{{weather.conditions.date_retreived | date:'EEEE'}}</h1>
    <p id="current-condition">
        <i class="wi wi-wu-chanceflurries snow-wind" style="display: block;"></i>
        {{weather.conditions.condition}}
    </p>
    <p id="current-temp">
        {{weather.conditions.fahrenheit.temp}}&deg;
    </p>
</div>

<ul>
    <li ng-repeat="forecast in weather.forecast.day_forecast">
        <h1>
            {{forecast.date.day_name}}
        </h1>
        <p>
            <span id="forecast-condition">{{forecast.condition}}</span> <span id="forecast-high-low">{{forecast.low.fahrenheit}}&deg; : <strong>{{forecast.high.fahrenheit}}&deg;</strong></span>
            <!--{{forecast.wind.average.mph}} mph-->
        </p>
    </li>
</ul>
