body {
    font-family: 'Raleway', 'Open Sans', sans-serif;
    font-size: 20px;
    color: white;
    background-color: black;
}

time {
    float: left;
    margin: 50px;
}

#current-time {
    font-size: 77px;
}

time p {
    text-align: left;
}

#date {
    font-size: 34px;
    display: block;
}

#current {
    font-size: 28px;
    border-bottom: 1px white solid;
    width: 100%;
    text-align: center;
}

#current-condition {
    margin-top: 20px;
    display: inline;
    width: 50%;
    float: left;
}

#current-condition i {
    display: block;
    margin-bottom: 30px;
    transform: scale(2, 2);
}

#current-temp {
    display: inline-block;
    width: 50%;
}

#current-temp h2 {
    margin: auto;
}

weather {
    float: right;
    margin-right: 80px;
    width: 30%;
}

weather ul {
    padding-left: 0;
}

weather ul li {
    list-style-type: none;
    text-align: right;
}

span.forecast-condition {
    margin-right: 5px;
}

span.forecast-high-low {
    margin-left: 5px;
}
