body {
    font-family: 'Raleway', 'Open Sans', sans-serif;
    font-size: 20px;
    color: white;
    background-color: black;
}

time {
    float: left;
    margin: 50px;
}

#current-time {
    font-size: 6em;
}

time p {
    text-align: left;
}

.rise-set {
    font-size: 1.2em;
}

#date {
    font-size: 44px;
    display: block;
}

#current {
    font-size: 28px;
    border-bottom: 1px white solid;
    width: 100%;
    text-align: center;
}

#current h1 {
    margin-top: 50px;
}

#current-condition {
    margin-top: 20px;
    display: inline;
    width: 50%;
    float: left;
}

#current-condition i {
    display: block;
    margin-bottom: 30px;
    transform: scale(2, 2);
}

#current-temp {
    display: inline-block;
    width: 50%;
}

#current-temp h2 {
    margin: auto;
}

weather {
    float: right;
    margin-right: 80px;
    width: 30%;
}

weather ul {
    padding-left: 0;
}

weather ul li {
    list-style-type: none;
    text-align: right;
}

span.forecast-condition {
    margin-right: 5px;
}

span.forecast-high-low {
    margin-left: 5px;
}

.auto-scroll {
    height: 50px;
    overflow: hidden;
    position: relative;
}
.auto-scroll p {
    position: absolute;
    width: 100%;
    height: 30px;
    margin: 0;
    line-height: 50px;
    white-space: nowrap;
    /*text-align: center;
    /* Starting position */
    -moz-transform:translateX(100%);
    -webkit-transform:translateX(100%);
    transform:translateX(100%);
    /* Apply animation to this element */
    -moz-animation: auto-scroll 50s linear infinite;
    -webkit-animation: auto-scroll 50s linear infinite;
    animation: auto-scroll 50s linear infinite;
}

@-moz-keyframes auto-scroll {
    0%   { -moz-transform: translateX(100%); }
    100% { -moz-transform: translateX(-200%); }
}
@-webkit-keyframes auto-scroll {
    0%   { -webkit-transform: translateX(100%); }
    100% { -webkit-transform: translateX(-200%); }
}
@keyframes auto-scroll {
    0%   {
        -moz-transform: translateX(100%); /* Firefox bug fix */
        -webkit-transform: translateX(100%); /* Firefox bug fix */
        transform: translateX(100%);
    }
    100% {
        -moz-transform: translateX(-200%); /* Firefox bug fix */
        -webkit-transform: translateX(-200%); /* Firefox bug fix */
        transform: translateX(-200%);
    }
}

